@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.titulos{
  max-width: 320px;
  margin-left: 2rem;
  margin-bottom: 0;
  font-size: 48px;
  display: inline-block;
  overflow: hidden; /* Oculta el texto desbordante */
  white-space: nowrap; /* Evita que el texto se envuelva */
  border-right: 2px solid orange; /* Cursor del efecto máquina de escribir */
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  padding: 2rem;
  gap: 5rem;
}

.cont {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 420px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -5px #0c0c0c;
  background-color: #FFF;
}

.content-image {
  width: 50%;
  overflow: hidden; /* Oculta el contenido que sobresale */
  border-radius: 5px; /* Asegúrate de mantener el borde redondeado si lo deseas */
}

.cont img {
  height: 100%;
  width: auto; /* Ajusta la proporción de la imagen */
  display: block;
  border-radius: 200px;
}

.context {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #0c0c0c;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  gap: 5%;
}

.cont h2 {
  color: #81ceeb;
  font-size: 40px;
  margin: 0 0 3px 0;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cont span {
  font-size: 18px;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 768px) {

  .context{
    padding-left: 1rem;
  }

  .context h2{
    z-index: 1000;
  }

  .cont{
    width: 100%;
  }

  .cont span{
    font-size: 16px;
  }
}