@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  color: black;
  background-color: #e6f2f4;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
}

.mani {
  background-image: url('./public/videoFondo.mp4');
  background-color: #e6f2f4;
}

.first-view {
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-view h1 {
  font-size: 7rem;
  margin: 0;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.color-text {
  background: linear-gradient(to right, #6f5adc, #d66);
  background-clip: text;
  color: transparent;
}

.color-text-sky {
  color: #81ceeb;
  font-weight: 800;
  font-size: 24px;
}

.first-view p {
  margin-top: 2rem;
  width: 45%;
  font-size: 1.25rem;
  text-align: center;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arrow-container {
  height: 220px;
  width: 100%;
  display: flex; /* Centra el contenido horizontal y verticalmente */
  justify-content: center;
  align-items: center;
}

.arrow-down {
  width: 12vw;
}

.arrow-down:hover {
  cursor: pointer;
}

.scroll-top {
  position: fixed; /* Permite que el botón se quede en su lugar al hacer scroll */
  bottom: 20px; /* Separación desde el borde inferior */
  right: 20px; /* Separación desde el borde derecho */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.focus-in-expand {
  animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-9 15:6:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


@keyframes typing {
  from {
    width: 0; /* Inicia sin mostrar texto */
  }
  to {
    width: 100%; /* Revela todo el texto */
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent; /* Alterna entre visible y transparente */
  }
  50% {
    border-color: black;
  }
}

@media (max-width: 768px) {

  .first-view{
    padding-top: 1rem;
  }

  .first-view h1{
    font-size: 3rem;
    text-align: center;
  }

  .first-view p{
    font-size: 1.5rem;
    width: 80%;
    text-align: start;
  }

  .color-text-sky{
    font-size: 1.5rem;
  }

  .arrow-down{
    width: 7rem;
  }
}