.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribución uniforme */
    font-family: "Mona Sans", sans-serif;
    color: black;
    max-width: 1200px; /* Ancho máximo para el contenedor */
    margin: 0 auto; /* Centrado horizontal */
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.navbar h2 {
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px; /* Espacio uniforme entre los elementos */
    padding: 0;
    margin: 0;
}

.nav-list li {
    font-size: 22px;
    transition: 0.1s;
}

.nav-list li:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #81ceeb;
}

.navbar button {
    font-size: 18px; /* Tamaño ajustado para que sea proporcional */
    border: 3px solid #81ceeb;
    border-radius: 15px;
    color: #81ceeb;
    background: transparent;
    padding: 10px 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar button:hover {
    color: #fff;
    cursor: pointer;
}

.navbar button::after {
    content: "";
    background: linear-gradient(to right, #d66, #6F5ADC);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: all 0.35s;
}

.navbar button:hover::after {
    left: 0;
    right: 0;
}

@media (max-width: 768px) {

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar h2 {
        font-size: 1.rem; /* Ajusta el tamaño del logo */
    }

    .nav-list{
        gap: 1rem;
    }

    .nav-list li {
        font-size: 20px; /* Ajusta tamaño */
        font-weight: 600;
        margin: 10px 0; /* Espaciado vertical */
    }
}