.skills {
  background-color: #e6f2f4;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  gap: 5rem;
  padding: 0 5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-column-skill {
  width: 50%;
}

.left-column-skill h2 {
  font-size: 48px;
  margin-bottom: 0;
}

.left-column-skill p {
  font-size: 24px;
  margin-bottom: 2rem;
}

.right-column-skill {
  width: 40%;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.skills-container.fade-out {
  opacity: 0;
}

.skills-container.fade-in {
  opacity: 1;
}

.skill {
  position: relative;
  background-color: #404040;
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  transition: 0.3s ease;
}

.skill:hover {
  box-shadow: 0px 0px 48px 12px #6f5adc;
}

.skill img {
  width: 64px;
  transition: transform 0.3s ease;
}

.tooltip {
  position: absolute;
  bottom: -30px; /* Ajusta según la posición deseada */
  left: 50%;
  transform: translateX(-50%);
  background-color: #6f5adc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  z-index: 1;
}

.skill:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px); /* Ligeramente hacia arriba */
}
